{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 100px; width: 740px; margin-top: 100px;">
        <img class="img-responsive" src="./images/autres/blog.png" alt="Bienvenue chez FEELUNIQUE"/>
        <p></p>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

