{% extends 'base.html.twig' %}

{% block title 'Gérer les articles' %}

{% block body %}
<div class="container mt-4">
    <h1>Editer les articles</h1>
    {{ include ('admin/_form.html.twig', {button: 'Editer'}) }}
</div>
{% endblock %}

