{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container" style="width: 1170px; margin-top: 100px;">
        {% for message in app.flashes('error') %}
            <div class="col-xs4 mt-4">
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            </div>
        {% endfor %}

        <div class="bg-light p-3">
            <h1 class="text-center">Bonjour {{ app.user.username }} - Modifier le mot de passe</h1>
        </div>
        <div class="" style="margin: 50px">
            <form method="post">
                <div class="form-field">
                    <label for="mdp">Mot de passe</label>
                    <input type="password" id="mdp" name="mdp" class="form-control"/>
                </div>
                <div class="form-field">
                    <label for="mdp2">Confirmer le mot de passe</label>
                    <input type="password" id="mdp2" name="mdp2"class="form-control"/>
                </div>
                <button class="btn btn-info m-4">Valider</button>
            </form>

        </div>
    </div>
{% endblock %}

